{% load static %}

<div class="row question">
    <div class="col-2">
        <img src="{{ object.author.image.url }}" height="100" width="100">
        {% include "include/likes.html" %}
    </div>
    <div class="col-10">
        <p class ="text-ask">
        {{ object.text }}
        </p>
        <form class="form-check">
            <input class="form-check-input correct-check" type="checkbox" value="" id="CheckCorrect">
            <label class="form-check-label correct-style" for="CheckCorrect">
                Верно!
            </label>
        </form>
        <h2 class="answer-title"> ответил
            <a class="nav-link fix-display answer-link" href="{% url 'current_author' current_author=object.author_id %}"> {{ object.author }} </a>
        </h2>
        <p class="date-publish">{{object.date|date:"d/m/Y"}}</p>
    </div>
</div>