{% load static %}

<!doctype html>
<html class="h-100">
    {%  include "include/head.html" %}

    <body class="d-flex flex-column h-100">
       {%  include "include/navbar.html" %}

        <!-- Begin page content -->
        <main class="flex-shrink-0">
            <div class="container main-body">
                <div class="row">
                    <div class="col-8 clear-padding left-part">
                        <h1 class="body-head">
                            {%  block content_head %}
                            {%  endblock content_head %}
                        </h1>
                        {%  block content %}
                        {%  endblock content %}
                        {%  block content_end %}
                        {%  endblock content_end %}
                    </div>
                    <div class="col-4 tag-part">
                        {%  block side %}
                            <h1 class="info"> Популярные тэги </h1>
                            <p class="info-text">
                                {% for tag in tags %}
                                    {% if forloop.counter0 <= 1 %}
                                        <a class="nav-link fix-display main-tag-pading red-link tag-size shadow-text"
                                       href="{% url 'current_tag' current_tag=tag %}"> {{ tag }} </a>
                                    {% elif forloop.counter0 <= 3 %}
                                        <a class="nav-link fix-display main-tag-pading purp-link tag-size"
                                       href="{% url 'current_tag' current_tag=tag %}"> {{ tag }} </a>
                                    {% else %}
                                        <a class="nav-link fix-display main-tag-pading blue-shadow blue-link tag-size shadow-text"
                                       href="{% url 'current_tag' current_tag=tag %}"> {{ tag }} </a>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <h1 class="info"> Известные авторы </h1>
                            <ul class="list-group list-group-flush ">
                                {% for author in authors %}
                                    <li class="float-left clear-top-bot-padding clear-padding list-group-item"><a class="float-left list-author nav-link tag-pading blue-link tag-size shadow-text"
                                       href="{% url 'current_author' current_author=author.pk %}"> {{ author }} </a></li>
                                {% endfor %}
                            </ul>
                        {%  endblock side %}
                    </div>
                </div>
            </div>

        </main>
        {% include "include/footer.html" %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/tag-it.js' %}"></script>
        <script src="{% static 'js/tagit_widget.js' %}"></script>
        <script src="{% static 'js/js.cookie.js' %}"></script>
        <script src="{% static 'js/bvi-init.js' %}"></script>
        <script src="{% static 'js/bvi.min.js' %}"></script>
    </body>
</html>
