{% load static %}

<div class="row question">
    <div class="col-2">
        <img src="{{  object.author.image.url }}" height="100" width="100">
        {% include "include/likes.html" %}
    </div>
    <div class="col-10">
        <a class="question-title navbar-brand shadow-text" href="{% url 'current_question' pk=object.id %}">
            {{ object.title }}
        </a>
        <p class ="text-ask">
            {{ object.text|truncatewords:50 }}
        </p>
        <div class="question-info">
            <span>
                <a class="nav-link head-answer-info fix-display tag-pading blue-link" href="{% url 'current_question' pk=object.id %}?#first_answer">
                    Ответов ({{ object.num_answer }})
                </a>
            </span>
            <span class="tag-answer">
                {% if object.tags %}
                    <b class="head-answer-info"> Тэги: </b>
                    {% for tag in object.tags.all %}
                        {% if tag == object.tags.last %}
                            <a class="nav-link fix-display tag-pading blue-link" href="{% url 'current_tag' current_tag=tag %}"> {{ tag }} </a>
                        {% else %}
                            <a class="nav-link fix-display tag-pading blue-link" href="{% url 'current_tag' current_tag=tag %}"> {{ tag }}, </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </span>
        </div>
    </div>
</div>