{% extends "include/base.html" %}
{% load static %}

{% block content_head %}
    <div class = "row">
        <div class = "col-9">
            Свежие вопросы
            <sub>
                <a class="nav-link fix-display hot-question" href="{% url 'hot_question' %}">Популярные вопросы</a>
            </sub>
        </div>
        <div class="col-3 ">
            <a class="nav-link new-question" href="{% url 'new_question' %}"> Задать вопрос </a>
        </div>
    </div>
{% endblock content_head %}

{%  block content %}
    {% include "include/list_questions.html" %}
{%  endblock content %}

{%  block content_end %}
    {% include "include/pagination.html" %}
{%  endblock content_end %}
