{% extends "include/base.html" %}

{% load bootstrap4 %}

{%  block content_head %}
    Войти
{%  endblock content_head %}

{%  block content %}
    <!---<h3 class="error"> {{ form.errors }} </h3>-->
    <form novalidate id="login" class="width-input" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <span> <a class="nav-link fix-display new-acc" href="{% url 'signup' %}?next={{ request.get_full_path|urlencode }}"> Создать аккаунт </a></span>
        {% buttons %}
        <button class="btn btn-outline-primary btn-login" type="submit">Войти</button>
        {% endbuttons %}
    </form>
{%  endblock content %}