{% extends "include/base.html" %}
{% load static %}

{% load bootstrap4 %}

{%  block content_head %}
   {{ object.title }}
{%  endblock content_head %}

{%  block content %}
    <a name="first_answer"></a>
    <div class="row pers-question">
        <div class="col-2">
            <img class="center-img" src="{{ object.author.image.url }}" height="100" width="100">
            {% include "include/likes.html" %}
        </div>
        <div class="col-10">
            <h2 class = "author-name">
                <a class="nav-link fix-display author-link" href="{% url 'current_author' current_author=object.author_id %}"> {{object.author}} </a>
                спрашивает:
            </h2>
            <p class ="text-ask">
                {{ object.text }}
            </p>
            <div class="answer-info">
                {% if object.tags %}
                    <b class="head-answer-info"> Тэги: </b>
                    {% for tag in object.tags.all %}
                        {% if tag == object.tags.last %}
                            <a class="nav-link fix-display tag-pading blue-link" href="{% url 'current_tag' current_tag=tag %}"> {{ tag }} </a>
                        {% else %}
                            <a class="nav-link fix-display tag-pading blue-link" href="{% url 'current_tag' current_tag=tag %}"> {{ tag }}, </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% if page_obj %}
        {% for object in page_obj %}
            {% include "include/answer.html" %}
        {% endfor %}
    {% else %}
        <h1 class = "empty-answers">Здесь может быть ваш ответ</h1>
    {% endif %}
{%  endblock content %}

{%  block content_end %}
    {% include "include/pagination.html" %}
    {% if request.user.is_authenticated %}
        <form novalidate id="new-answer" class="enter-answer" method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
             <button class="btn btn-outline-primary btn-answer" type="submit">Отправить</button>
            {% endbuttons %}
        </form>
    {% else %}
        <h1 class = "empty-answers">Чтобы оставить ответ
            <a class="nav-link fix-display answer-link" href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">
                войдите в аккаунт
            </a> </h1>
    {% endif %}
{%  endblock content_end %}
