{% extends "include/base.html" %}

{% load bootstrap4 %}

{%  block content_head %}
    Регистрация
{%  endblock content_head %}

{%  block content %}
    <!--<h3 class="error"> Уже существует пользователь с данным логином </h3>-->
    <form id="login" class="width-input" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button class="btn btn-outline-primary btn-singup" type="submit">Зарегистрироваться</button>
        {% endbuttons %}
    </form>
{%  endblock content %}
